# Environment & Secrets
.env
/credentials.h
worx_pi_sshkey
worx_pi_sshkey.pub
.ssh/

# Python
__pycache__/
*.pyc
*.pyo

# Node / Frontend
node_modules/

# IDE
.idea/

# Logs
*.log

# Generated heatmaps
heatmaps/*.png
heatmaps/*.html

# Generated images
/*.png

# Data
*.json
data/*.csv

# Build artifacts
directcom/obj/

# Test / Scratch files
mqtt_test.py
Mqtttest.py
mqtt_Problemlösung.txt
d.py
/send_test_data.py
/test_data.csv
sslkeys.log
