# Environment & Secrets
.env
worx_pi_sshkey*
.ssh/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Node / Frontend
node_modules/

# IDE
.idea/
.vscode/

# Logs
*.log

# Generated heatmaps & images
heatmaps/*.png
heatmaps/*.html
/*.png

# Data & Database
data/*.csv
*.db

# Build artifacts
directcom/obj/

# OS
Thumbs.db
.DS_Store
